extends layout

block content
  .row
    .panel.panel-info
      .panel-heading
        h3.panel-title Status
      .panel-body
        //p There are currently <b>#ruleEngine.getRules().length rules</b> defined on this server:

  .row
    #container(style='width:100%; height:300px;')
